.fv {
  height: 100vh;
  width: 100%;
  z-index: -100;

  &__inner {
    height: 100%;
    overflow: hidden;
    position: fixed;
    width: 100%;
  }

  &__background {
    background-image: url('/public/assets/img/top/FV.png');
    background-position: top center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;

    // background-size: cover;
  }

  &__title {
    bottom: 0;
    color: #fff;
    font-size: 94px;
    font-weight: 600;
    position: fixed;
    z-index: 3;
  }
}

.contents {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 13px;
  height: 100%;
  letter-spacing: 0.1em;
  line-height: 1.7;
  position: relative;

  .fixedBg {
    height: 100lvh;
    inset: 0;
    opacity: 0;
    position: fixed;
    transition: all 0.3s;
    width: 100vw;
    z-index: 3;

    &.is-active {
      display: block;
    }
  }

  .pin-spacer {
    z-index: 4 !important;
  }

  .sticky-container {
    height: 100vh;
    position: relative;
    width: 100%;

    &__box {
      align-items: center;
      background: #EAEAEA;
      border-top-left-radius: 24px;
      border-top-right-radius: 24px;
      display: flex;
      height: 100%;
      justify-content: center;
      position: fixed;
      width: 100%;

      // position: fixed;
      // right: 50%;
      // top: 50%;
      // transform: translate(50%, -50%);
      z-index: 100;
    }
  }

  .section {
    &__inner {
      display: flex;
      flex-direction: column;
      gap: 50px;
    }

    &__titleBlock {
      margin-bottom: 30px;
      text-align: center;

      &--title {
        display: inline-block;
        font-size: 36px;
        margin-bottom: 10px;
      }
    }
  }

  // .sectionProfile {
  //   margin: auto;
  //   width: 80vw;
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;

  //   &__inner {
  //     padding: 80px 10px 10px 0px;
  //   }

  //   .section-title-block {
  //     text-align: center;
  //     margin-bottom: 30px;
  //   }

  //   .section-title {
  //     display: inline-block;
  //     margin-bottom: 10px;
  //   }
  // }

  // .sticky-container {
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   right: 0;
  //   z-index: 100;

  //   &.fixed {
  //     position: absolute;
  //     top: 0;
  //     left: 0;
  //     width: 100%;
  //     z-index: 1000;
  //   }

  //   &.hidden {
  //     display: none;
  //   }
  // }

}



.column {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin: auto;
  padding: 20px;

  .u-column {
    align-items: center;
    display: flex;
    gap: 10px;
    justify-content: center;
  }

  .sns-icon {
    align-items: center;
    display: flex;
    justify-content: center;
    transition: all 0.6s;

    img {
      height: 25px;
      width: 25px;
    }

    &:hover {
      &::before {
        background-color: #fff;
        content: "";
        opacity: 0.5;
        position: absolute;
      }

    }
  }

  &__item {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 30px;

    .text {
      font-size: 16px;
    }

    &.u-center {
      text-align: center;
    }

    img {
      border-radius: 100%;
      margin: 0 auto;
      width: 40%;
    }

    &--title {
      color: #333;
      font-weight: 600;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
  }
}

.fade {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s, transform 0.7s;
}

.fade.fade-in {
  opacity: 1;
  transform: translateY(0);
}

.modalWrapper {
  align-items: center;
  background-color: rgb(0 0 0 / 50%);
  display: flex;
  height: 100vw;
  justify-content: center;
  left: 50%;
  overflow-y: scroll;
  overscroll-behavior: contain;
  position: fixed;

  /* ↓浮かせる設定 */
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
}

// .nonScroll {
//   height: calc(100vh + 1px);
//   width: 1px;
//   background-color: transparent;
// }

.modal {
  align-items: center;
  background-color: #FFF;
  border-radius: 10px;
  box-shadow: 0 3px 6px 3px rgb(107 107 107 / 10%);
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 200px;
  justify-content: space-between;
  padding: 50px 80px;
  width: 300px;

  button {
    background-color: transparent;
    border: none;
    cursor: pointer;

    img {
      height: 30px;
      width: 30px;

    }
  }


}


.cardWrapper {
  /* modal.css */
  box-sizing: border-box;
  display: flex;
  gap: 20px;
  position: relative;

  button {
    border: none;
  }

  .card {
    box-shadow: 0 3px 6px 3px rgb(107 107 107 / 10%);
    cursor: pointer;
    flex: 1;
    overflow: hidden;
    padding: 0;

    &:hover {
      box-shadow: 0 3px 6px 3px rgb(107 107 107 / 20%);

      img {
        scale: 1.05;
        transition: all 0.3s ease;
      }
    }

    &:not(:hover) {
      img {
        transition: all 0.7s ease;
      }
    }

    &__image {
      aspect-ratio: 1 / 1;

      img {
        height: 100%;
        object-fit: cover;
        width: 100%;
      }
    }

    &__title {
      font-size: 16px;
      font-weight: bold;
    }

    &__info {
      font-size: 12px;
    }
  }
}

@media screen and (width <= 767px) {
  body {
    font-size: 13px;
    line-height: 1.7;
  }
}