body {
  font-family: ryo-gothic-plusn, "toppan-bunkyu-gothic-pr6n",
    "Hiragino Kaku Gothic ProN", "Hiragino Sans", "Helvetica Neue", Arial,
    Meiryo, sans-serif;
  font-size: 15px;
  letter-spacing: 0.8px;
  line-height: 1.8;
  overscroll-behavior: none;
  word-break: break-all;
}
